language: node_js

node_js:
  - 12.4.0

services:
- docker

cache:
  npm: true
  directories:
    - ~/.npm
    - ~/.cache

install:
  - npm ci
  - npm install cypress@3.4.0

script:
  - npm test
  - npm run lint

before_deploy:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  - docker build -t registry.gitlab.com/mangash/manga-frontend .

deploy:
  provider: script
  script: docker push registry.gitlab.com/mangash/manga-frontend
  skip_cleanup: true
  on:
    branch: master

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL